<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".GymBudApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_gym_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gym_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBud"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GymBud.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Screens -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.GymBud.Auth" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/Theme.GymBud.Auth" />

        <!-- Main Screen -->
        <activity android:name=".activities.MainActivity" />

        <!-- Workout Form -->
        <activity android:name=".activities.WorkoutFormActivity" />

        <!-- Exercise Detail -->
        <activity android:name=".activities.ExerciseDetailActivity" />

        <!-- Active Workout Plan -->
        <activity android:name=".activities.ActiveWorkoutActivity" />

        <!-- Workout Reminder Receiver -->
        <receiver
            android:name=".utils.WorkoutReminderReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>